[Unit]
Description=OLED display daemon for Odroid HC4

[Service]
Type=simple
User=root
ExecStart=/opt/git/hc4-oled/venv/bin/python /opt/git/hc4-oled/hc4-oled.py

[Install]
WantedBy=multi-user.target
